head {
	padding-left: 300;
	margin-left: 300;
}

@font-face {
	font-family: uni-sans;
	src: url(Fonts/Uni_Sans_Heavy.otf);
}

@font-face {
	font-family: dm-sans;
	src: url(Fonts/DMSans-Regular.ttf);
}

@font-face {
	font-family: dm-sans-bold;
	src: url(Fonts/DMSans-Regular.ttf);
}

li, p {
	font-family: helvetica;
	size: 10%;
	margin-top:10;
}

ul {
	margin-top: 0;
	padding-top: 0;
}

h2 {
	font-family: helvetica;
	font-weight: bold;
	size: 20px;
}

h1 {
	font-family: uni-sans;
	size: 30px;
	color: white;
}

#centre {
	text-align: center;
	align-content: center;
	align-items: center;
	align-self: center;
	display: block;
  margin-left: auto;
  margin-right: auto;
}

.zoom {
	transition: transform .2s;
}

.zoom:hover {
	transform: scale(1.2);
}

.backImage {
	padding: 15px;
	background-image:url("https://forum.mtasa.com/uploads/monthly_2021_01/wp2623648.jpg.69915a9d683983690a28865b16d93461.jpg");
	background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}